/*============================================== 로그인페이지 ==================================================*/

body{
    margin: 0;
    box-sizing: border-box;
    width: clac(100vw - (100vw - 100%));
    background-color: black;
    color:white;
    background-image: url("../images/6.png");
    background-repeat:no-repeat;
    background-size: cover;
}

/*===============================================================================================*/
#login-content-wrap{
    display: flex;
    height: 90vh;
    margin: auto;
    z-index:5;
    overflow: hidden;
}

#login-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:20;
    padding-right: 20%;
    line-height: 50px;
    margin-top: 80px;
}

#login-content>h1 {
    z-index: 50;
}

.login_logo img{
    padding-left: 40%;
    margin: auto;
    height: 120px;
    z-index: 50;
}

.login_logo{
    display: flex;
    width: 50%;
    z-index:50;
}

.form-control{
    height:50px !important;
    z-index:5;
}

#login-width>button:nth-child(3) {
    margin-top: 50px;
}

#login-width>button {
    margin-top: 15px;
}

.pwd_find a{
    text-decoration: none;
    cursor: pointer;
    color:white;
    z-index:5;
}

.pwd_find a:hover{
    color:lightgray !important;
}

.pwd_find{
    text-align: center;
    margin-top: 5%;
}

#login_content>h3{
    font-weight: bold; 
    margin-top: 10vh;
    z-index:5;
}

#login-form form{
    display:flex;
    justify-content: center;
    z-index:5;
}

#login-form h6{
    font-weight: bold;
    z-index:5;
}

#login-width{
    width:20vw;
    z-index:5;
}

.login-min{
    min-width: 100%;
}

/*모달*/
.close_btn{
    border:0;
    background-color: black;
    color:white
}
.modalstyle{
    background-color: black;
    border: 1px solid white;
}
.modal-bottom{
    text-align: center;
    justify-content: center;
}
.close_btn_style{
    border-radius: .5rem;
    background-color: black;
    color: white;
    border :1px solid white;
}
#btncolor{
    background-color: black;
    color:white;
    border: 1px solid white;
}
#btncolor:hover{
    opacity: 0.5;
}

/*===============================================================================================*/   
@keyframes fall{
0%{
    opacity: 1;
    top: 0;
    transform: rotate(0deg);
}
50% {
    opacity: .7;
    top: 50%;
    transform: rotate(-100deg);
}
100% {
    opacity: .4;
    top: 90%;
    transform: rotate(120deg);
}
}
@keyframes left01{
0%{
    margin-left: 0;
}
50% {
    margin-left: -25%;
}
100% {
    margin-left: -50%;
}
}
#leaf01 {
animation-duration: 9s,9s;
left: 30%;
animation-delay: 0s;
}
#leaf02 {
animation-duration: 12s,12s;
left: 50%;
animation-delay: 2s;
}
#leaf03 {
animation-duration: 22s,22s;
left: 40%;
animation-delay: 3s;
}
#leaf04 {
animation-duration: 14s,14s;
left: 80%;
animation-delay: 1.5s;
}
#leaf05 {
animation-duration: 17s,17s;
left: 60%;
animation-delay: 6s;
}
#leaf06 {
animation-duration: 16s,16s;
left: 77%;
animation-delay: 7s;
}
#leaf07 {
animation-duration: 13s,13s;
left: 90%;
animation-delay: 4.5s;
}
#leaf08 {
animation-duration: 9s,9s;
left: 99%;
animation-delay: 1.5s;
}  
#leaf09 {
animation-duration: 11s,11s;
left: 13%;
animation-delay: 2s;
}  
#leaf10 {
animation-duration: 7s,7s;
left: 92%;
animation-delay: 3s;
}  
#leaf11 {
animation-duration: 15s,15s;
left: 34%;
animation-delay: 5.5s;
}  
#leaf12 {
animation-duration: 10s,10s;
left: 67%;
animation-delay: 0.5s;
}  
#leaf13 {
animation-duration: 9s,9s;
left: 81%;
animation-delay: 2s;
}  
#leaf14 {
animation-duration: 8s,8s;
left: 50%;
animation-delay: 4s;
}   

.leaf {
position: absolute;
top: -10%;
animation-name: fall, left01;
animation-timing-function: linear;
animation-direction: normal;
animation-iteration-count: infinite;
z-index: 0;
}
.blackbox{
width: 100%;
height: 4%;
background-color: black;
position: absolute;
z-index: 5;
margin-top: -6%;
}
/* swal alert 창 css */
.swal-modal {
    background-color: black;
    border: 1px solid rgba(255,255,255,0.3);
  	margin-top : -6%;
  	padding-bottom:20px;
}
.swal-text {
    text-align: center;
    color: white;
 	font-size:20px;
 	
}
.swal-title {
    text-align: center;
    color: white;
    
}
.swal-button-container{
	display:flex;
	justify-content : center;
}