body {
    margin : 0;
    box-sizing: border-box;
    height: 100%;
}



.wrap {
    height: 100vh;
    overflow: hidden;
    background-color: black;
}






/* ============================================================= */
/* 컨텐츠 영역 */
/* ============================================================= */
.contents {
    display: flex;
    justify-content: end;
    min-width: 1600px;
    width: 100%;
    height: calc(100vh - 80px);
    /* border: 1px solid white; */
}

/* ============================================================= */
/* 메인 컨텐츠 */
/* ============================================================= */

.main-content {
    width: 40%;
    min-width: 800px;
    height: 100%;
    /* border-left: 1px solid rgba(255,255,255,0.3); */
    /* border-right: 1px solid rgba(255,255,255,0.3); */
}

.feed-list {
    height: 91vh;
    overflow: auto;
}

.feed-wrap{
    width: 60%;
    margin: 45px auto;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 20px;
}

.feed-header {
    height: 70px;
    width: 100%;
    color : white;
    position: relative;
}


.user-profile .more-options {
    display: none;
    position: absolute;
    right: -40px;
    top: 60px;
    width: 160px;
    z-index: 50;
    overflow: hidden;
}

.more-options>div {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 15px;
    background-color: black;
    line-height: 30px;
}

.more-options dl {
    margin: 15px 15px;
    font-size: 13px;
    line-height: 35px;
}

.more-options dt {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 3px 0 0 6px;
    transition: all .25s;
}

.more-options dt:hover { 
    transition: all .25s;
    background-color: rgba(115,115,115, 0.4);
    border-radius: 10px;
}

.more-options span {
    font-size: 20px;
}

.more-options a {
    margin-left: 10px;
}

.user-profile {
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: white;
}

.user-profile span:nth-child(2) {
    margin-left: 20px;
    cursor: pointer;
}

.user-profile span:nth-child(2):hover {
    text-decoration: underline;
}

.user-profile span:nth-child(3) {
    font-size: 35px;
    font-weight: 900;
    margin-left: 59%;
    cursor: pointer;
}






.feed-body {
    width: 100%;
}

.feed-img{
    height: 430px;
}

.feed-body img{
    display: none;
    width: 100%;
    margin: 0 auto;
    height: 430px;
    object-fit:contain;
}

.feed-tools {
    width: 100%;
    margin: auto;
    padding: 15px;
    color:white;
    display: flex;
    align-items: end;
    z-index: 100;
}


.feed-tools svg {
    margin-left: 10px;
}

.feed-body .feed-tools .clickable-svg:nth-child(1) {
    z-index: 10;
    cursor: pointer;
}

.feed-body .feed-tools .clickable-svg:nth-child(2) {
    z-index: 10;
    margin-left: 20px;
    cursor: pointer;
}

.bi-heart-fill {
    transition: fill .5s;
    color: red;
}

.feed-body .feed-tools .clickable-svg:nth-child(3) {
    z-index: 10;
    font-size: 25px;
    margin-left: 73%;
    cursor: pointer;
}

.feed-text {
    width: 91%;
    margin: auto;
    color: rgb(179, 179, 179);
    font-size: 12px;
    line-height: 24px;
    word-wrap: break-word;
    margin-left: 20px;
}


.feed-text span:nth-child(3) {
    width: 100%;
    font-size: 13px;
    color: white;
}

.feed-footer {
    /* height: 170px; */
    padding-bottom: 20px;
    width: 100%;
}

.reply-wrap{
    color: white;
}

.reply-top button {
    font-size: 13px;
    margin: 15px 0 0;
    width: 100px;
    background-color: transparent;
    border: 0;
    color: rgb(183, 183, 183);
    cursor: pointer;
    transition: all .15s;
}

.reply-top button:hover {
    font-weight: 700;
    color: white;
    transition: all .15s;
}

.reply-middle {
    width: 100%;
    /* height: 60px; */
    margin: 10px auto;
}

.reply-middle dl {
    margin: 0;
}

.reply-middle dt {
    margin: auto;
    width: 90%;
    display: flex;
    height: 50px;
    padding: 2px 10px;
    align-items: center;
    transition: all .25s;
}

.reply-middle dt:hover {
    background-color: rgba(115,115,115, 0.2);
    transition: all .25s;
    border-radius: 15px;
}

.reply-middle img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.reply-list {
    display: flex;
    margin-left: 15px ;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    color: lightgray;
}

.reply-list span:last-child {
    color: gray;
    font-size: 13px;
}

.reply-bottom {
    width: 93%;
    padding-top: 6px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.reply-bottom input {
    margin-top: 10px;
    width: 85%;
    height: 33px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    padding-left: 10px;
    background-color: transparent;
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.reply-bottom input:focus{
    outline: 0;
}

.reply-bottom button {
    margin-top: 10px;
    height: 33px;
    background-color: transparent;
    color: lightgray;
    border: 0;
}

/* ============================================================= */
/* 피드 모달  */
/* ============================================================= */

.modal-content {
    border : 1px solid rgba(255,255,255,0.3)!important;
    width: 90% !important;
}

.modal-backgound {
    background-color: rgb(0, 0, 0);
}

.modal-header {
    border-bottom: 1px solid rgba(255,255,255,0.3) !important;
    position: relative;
}

.modal-user-profile {
    width: 700px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.modal-user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: white;
}

.modal-user-profile>span:nth-child(2) {
    margin-left: 20px;
    cursor: pointer;
}

.modal-user-profile>span:nth-child(2):hover {
    text-decoration: underline;
}

.modal-user-profile>span:nth-child(3) {
    font-size: 35px;
    font-weight: 900;
    margin-left: 73%;
    cursor: pointer;
}


.modal-close {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-weight: 500;
    font-size: 26px;
}


.modal-user-profile .modal-more-options {
    display: none;
    position: absolute;
    right: -40px;
    top: 60px;
    width: 160px;
    z-index: 50;
    overflow: hidden;
}

.modal-more-options>div {
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 15px;
    background-color: black;
    line-height: 30px;
}

.modal-more-options dl {
    margin: 15px 15px;
    font-size: 13px;
    line-height: 35px;
}

.modal-more-options dt {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 3px 0 0 6px;
    transition: all .25s;
}

.modal-more-options dt:hover { 
    transition: all .25s;
    background-color: rgba(115,115,115, 0.4);
    border-radius: 10px;
}

.modal-more-options span {
    font-size: 20px;
}

.modal-more-options a {
    margin-left: 10px;
}




.modal-body {
    display: flex;
    height: 650px;
    border-top: 1px solid rgba(255,255,255,0.3);;
}

.modal-feed-body {
    width: 65%;
    border-right: 1px solid rgba(255,255,255,0.3);
}


.modal-feed-body img{
    width: 100%;
    margin: 0 auto;
    height: 430px;
    object-fit:contain;
}

.modal-feed-body .feed-tools {
    margin: 5px auto 0;
    padding: 15px;
    color:white;
    display: flex;
    align-items: center;
}


.modal-feed-body .feed-tools svg {
    margin-left: 10px;
}

.modal-feed-body .feed-tools .clickable-svg:nth-child(1) {
    cursor: pointer;
    z-index: 10;
}

.modal-feed-body .feed-tools .clickable-svg:nth-child(2) {
    margin-left: 20px;
    cursor: pointer;
    z-index: 10;
}

.modal-feed-body .feed-tools .clickable-svg:nth-child(3) {
    font-size: 25px;
    z-index: 10;
    margin-left: 80%;
    cursor: pointer;
}

.modal-feed-body .feed-text {
    width: 91%;
    margin: auto;
    color: rgb(179, 179, 179);
    font-size: 13px;
    line-height: 24px;
    word-wrap: break-word;
    margin-left: 20px;
}


.modal-feed-body .feed-text span:nth-child(3) {
    width: 100%;
    font-size: 15px;
    color: white;
}


.modal-feed-footer {
    width: 35%;
    padding-bottom: 20px;
}


.modal-feed-footer .reply-wrap{
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-feed-footer .reply-middle {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    overflow-y: auto;
    height: 80vh;
}

.modal-feed-footer .reply-middle dl {
    margin: 0;
}

.modal-feed-footer .reply-middle dt {
    margin: auto;
    width: 90%;
    display: flex;
    height: 50px;
    padding: 2px 10px;
    align-items: center;
    transition: all .25s;
}

.modal-feed-footer .reply-middle dt:hover {
    background-color: rgba(115,115,115, 0.2);
    transition: all .25s;
    border-radius: 15px;
}

.modal-feed-footer .reply-middle img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.modal-feed-footer .reply-list {
    display: flex;
    margin-left: 15px ;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    color: lightgray;
}

.modal-feed-footer .reply-list span:last-child {
    color: gray;
    font-size: 13px;
}

.modal-feed-footer .reply-bottom {
    width: 93%;
    padding-top: 6px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255,255,255,0.3);
}

.modal-feed-footer .reply-bottom input {
    margin-top: 10px;
    width: 85%;
    height: 33px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    padding-left: 10px;
    background-color: transparent;
    color: white;
}

.modal-feed-footer .reply-bottom input:focus{
    outline: 0;
}

.modal-feed-footer .reply-bottom button {
    margin-top: 10px;
    height: 33px;
    background-color: transparent;
    color: lightgray;
    border: 0;
}








/* ============================================================= */
/* 서브 컨텐츠  */
/* ============================================================= */

.sub-content {
    width: 25vw;
    height: 100%;
    
    /* border: 1px solid white; */
}

.sub-wrap {
    width: 390px;
    height: 100%;
    margin-top: 70px;
    /* border: 1px solid rgba(255,255,255,0.3); */
    /* background-color: white; */
    border-radius: 20px;
}

/* .sub-wrap *{
    border: 1px solid grey;
} */

.sub-container{
    margin-left: 15%; /* sy - search.html에서 추가한 부분*/
    width: 100%;
    height: 100%;
}

.sub-recommand{
    width: 100%;
    height: 532px;
    background-color: rgb(33,33,33);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.sub-title{
    color: gray;
    width:390px;
    height: 40px;
    position: fixed;
    display: flex;
    align-items: end;
}
.sub-title>span{
    margin-left: 30px;
}
.sub-recommand .user-nickname{
    width: 190px;
    color: rgb(165, 165, 165);
}

.sub-recommand button{
    background-color: transparent;
    border: transparent;
    color: #0095f6;
    cursor: pointer;
    width: 70%;
}

.sub-recommand button:hover{
    background-color: transparent;
    color:white;
}
.sub-content .result-content-area{
    margin: 60px 0 0 30px;
    overflow-y: scroll;
    height: 500px;
}
.sub-content .follow-img{
    width : 50px;
    margin : auto 17px auto 0;
}
.sub-content .follow-list{
    width: 100%;
    display: flex;
    justify-content: center;
    margin : 5px auto;
    /* justify-content: center; */
}

.sub-content .follow-img>img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
}
.sub-content .follow-btn{
    width : 170px;
    padding : 7px 0;
}
.sub-content .follow-id{
    cursor: pointer;
}




/* ============================================================= */
/* Search css*/
/* ============================================================= */

.search-content-wrap{
    width: 50vw;
    height: 100%;
    /* border-left: 1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(255,255,255,0.3); */
}

.search-inputs-wrap{
    display: flex;
    /* border-bottom: solid 1px gray; */
}

.search-inputs{
    display: flex;
    margin: 10px 20px 10px 40px;
}

.search-inputs label{
    padding-top: 20px;
    padding-left: 30px;
}

.searchTag-box-wrap{
    padding: 0px 10px 25px 10px;
}

.searchTag-box{
    color: white;
    font-size: large;
    text-align: center;
    margin-right: 90px;
}

.search-content-wrap .search-input-text{
    overflow-y: scroll;
    color: black;
    background-color: rgb(220, 220, 220);
    width: 740px;
    height: 30px;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
}

.back-icon {
    filter: invert(100%);
    width: 30px; 
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.search-btn{
    padding: 3px 10px;
    margin-top: 3px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: aliceblue;
    font-size: 15px;
}

.search-btn:hover{
    border: 1px solid whitesmoke;
    background-color: rgb(34, 34, 34);
    color: white;
}

.feed-content{
    overflow-y: scroll;
    height: 310px;
    padding: auto;
    margin: auto;
}

.feed-content-wrap{
    display: grid;
    grid-template-columns: 310px 310px 310px;
    grid-template-rows: 310px 310px 310px;
    gap: 5px;
}

.feed-content-wrap1 img{ 
    border: solid 1px white;
    width: 318px;
    height: 318px;
}

.feed-content-wrap2 img{ 
    border: solid 1px white;
    width: 318px;
    height: 318px;
}

.feed-content-wrap3 img{ 
    border: solid 1px white;
    width: 318px;
    height: 318px;
}

.feed-content-wrap{
    display: flex;
    justify-content: flex-start;
}

/* alert-tool Modal */

.modal-backgound {
    z-index : 1;
}

.modal-content {
    background-color: rgb(0, 0, 0) !important;
    overflow-y: auto;
    height: 300px;
    border: 1px solid rgba(255,255,255,0.3) !important;
    margin-left: 78%;
    margin-top: 6%;
    border-radius: 20px !important;
    width: 26% !important;
}

.modal-box {
    padding-bottom: 10px;
}

.alarm-all-btn{
    height:15px;
}

.alarm-all-btn a{
    margin: 5px 10px 10px 200px !important;
    padding-bottom: 16px;
    color: gray !important;
    font-size: 13px;
    cursor: pointer;
}

.alarm-all-btn a:hover{
    color: white !important;
    transition: all .35s;
}

.modal-box>div:nth-child(2) {
    margin-top: 20px;
}

.modal-profile-icon{
    display: flex;
    margin-top: 11px;
    cursor: pointer;
    padding: 5px;
}

.modal-profile-icon:hover {
    background-color: rgba(115,115,115, 0.2);
    width: 100%;
    border-radius: 15px;
    transition: all .35s;
}

.modal-profile-icon img{
    width: 40px; 
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
}

.modal-alarm-contents {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 14px;
}

.modal-alarm-user{
    color: whitesmoke !important;
    font-size: 13px;
    font-weight: bold;
}

.modal-alarm-content{
    display: inline-block;
    overflow: hidden;
    color: rgb(135, 135, 135) !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    width: 200px;
    text-align: left;
    font-size: 12px;
}


/****** 메인css 중 추가부분 ******/

/* 서브 컨텐츠  */
.sub-container{
    margin-left: 15%; /* sy - search.html에서 추가한 부분*/
}

/* 메인 컨텐츠 */
.main-content {
    display: flex; /* sy - search.html , Alarm.html에 추가사용*/
}

