@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    height: 100%;
    font-family: 'pretendard';
}

.wrap {
    height: 100vh;
    overflow: hidden;
}


/* ============================================================= */
/* 컨텐츠 영역 */
/* ============================================================= */
.contents {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
}

/* ============================================================= */
/* 메인 컨텐츠 */
/* ============================================================= */

.main-content {
    width: 50vw;
    height: 100%;
    /* border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    min-width: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* ============================================================= */
/* 서브 컨텐츠  */
/* ============================================================= */

.sub-content {
    width: 25vw;
    min-width: 400px;
    height: 100%;
    padding: 0 0 0 50px;
    /* border: 1px solid white; */
}

.sub-wrap {
    width: 350px;
    height: 500px;
    margin-top: 70px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    /* background-color: white; */
}

.Ranking {
    color: white;
    text-align: center;
    margin: 30px 60px;
}
.Rangking_Title {
    font-size: 25px;
}
.Ranking_Content {
    display: flex;
}
.num {
    font-size: 15px;
}
.Ranking_Num {
    font-size: 15px;
    margin-left: 30px;
}

/* =================================================================*/
/* ===========================My-Feed===============================*/
.profile-imgs {
    margin-right: 70px;
}
.profile-imgs img {
    width: 150px;
    height: 150px;
    border-radius: 500px;
    margin: 50px 0;
}
.user_Id {
    margin: 0 0 5px 0;
}
.user_Id img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 500px;
}
.user_name {
    font-size: 15px;
    margin-top: -20px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: gray;
}
/* .btn:hover {
    cursor: pointer;
    background-color: white !important;
    color: black !important;
    border-color: black;
} */
.mypage-profile-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}
.profile-camera {
    width: 20px;
    height: 20px;
    margin-left: 100px;
    margin-top: -80px;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.profile-camera > button {
    border-radius: 150rem;
    background-color: black;
    border-color: white;
    cursor: pointer;
}
.cameras {
    background-color: rgb(40, 43, 43);
    width: 35px;
    height: 35px;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    position: relative;
    transition: all 0.3s;
    border-radius : 9rem;
}
.cameras-form{
	border-radius : .5rem;
}
.icon1 {
    position: absolute;
    font-size: 22px !important;
    color: white;
    bottom: 5.8px;
    right: 5px;
    transition: all 0.3s;
}
.profile-camera button:hover {
    color: black !important;
    background-color: white;
    transition: all 0.3s;
}
.profile-camera span:hover {
    color: black;
    transition: all 0.3s;
}

.update_profile {
    position: absolute;
    left: 275px;
    top: -5px;
}

.update_profile > .btn {
    background-color: rgb(40, 43, 43);
    border-radius: 0.5rem;
    padding-top: 7px;
    height: 35px;
}

.update_profile > .btn:first-child:hover {
    background-color: rgb(73, 73, 73);
}
.update_profile > .btn:last-child:hover {
    background-color: #1872f2;
}

.update_profile > .btn:last-child {
    background-color: #0095f7;
}

.update_profile h6 {
    font-size: 15px;
}

.icon2 {
    font-size: 10px;
    color: white;
}
.icon3 {
    font-size: 25px !important;
    color: white;
}

.mypage-setbox {
    color: white;
    font-size: 24px;
    margin-top: 60px;
    width: 60%;
    position: relative;
}

.setbox-header {
    display: flex;
}

.user_Id {
    width: 300px !important;
    font-size: 20px;
}

.mypage-follower {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.follows {
    width: 180px;
}

.mypage-follower h5 {
    font-size: 15px;
    margin: 5px 0;
}

.btn-locate1 {
    width: 100px;
    height: 40px;
}

.span-locate1 {
    position: absolute;
    margin-top: -38px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    display: none;
}
.mypage-logout {
    margin-left: -120px;
    margin-top: -25px;
}
.span-locate2 {
    position: absolute;
    margin-left: 20px;
    margin-top: -32px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    display: none;
}
.span-locate22 {
    position: absolute;
    margin-left: 8px;
    margin-top: -28px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    display: none;
}
.mypage-selectbox {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(43, 43, 43);
}

/* .mypage-selectbox * {
    border: 1px solid grey;
} */

.mypage-selectbox .selectbox {
    height: 100%;
    margin: 0 30px;
}

.selectbox .selectbox-btn {
    width: 100px;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.selectbox .selectbox-btn:hover {
    border-top: 2px solid white;
    color: white;
}

.selectbox span {
    color: white;
    font-size: 20px;
    font-weight: 200;
}

.selectbox h5 {
    color: grey;
    font-size: 13px;
    margin-top: 7px;
    padding: 0 5px;
}
.selectbox h5:hover {
    color: white;
}

.img-size {
    width: 300px;
    height: 300px;
}
.myimage {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.myimage img:hover {
    opacity: 0.5;
    cursor: pointer;
}
.choice1 {
    display: none;
}
.choice2 {
    display: none;
}
.change {
    display: flex !important;
    color:white !importnat;
    border-top : 1px solid white;
}
.list2 {
    width: 50vw;
    height: 10vh;
}
.list1 {
    height: 10vh;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:hover {
    cursor: pointer;
    opacity: 0.7;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}
.like {
    opacity: 0;
    color: white;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
}
.like:hover {
    filter: brightness(1); /* 어두운 필터 */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
    transition: filter 0.3s, box-shadow 0.3s;
    opacity: 1;
    cursor: pointer;
}
.myimage-section {
    position: relative;
}
/* 부트스트랩 겹치는거 */
h5 {
    font-size: 10px;
}
p {
    margin-top: 10px;
}
a {
    color: white;
}
a:hover {
    color: white;
    text-decoration: none;
}

/* 모달스타일 */
.report_title {
    font-size: 25px;
    border-bottom: 1px solid white;
    padding: 5px;
}
.report_content {
    text-align: center;
    margin-left: 20px;
    border: 1px solid white;
    width: 420px;
    font-size: 20px;
    border-radius: 0.5rem;
}
.swal-modal {
    background-color: black;
    border: 1px solid white;
}
.swal-text {
    text-align: center;
    color: white;
}
.swal-title {
    text-align: center;
    color: white;
}
.swal-icon--success:before {
    display: none;
}
.swal-icon--success:after {
    display: none;
}
.swal-icon--success__hide-corners {
    display: none;
}
.btn-box {
    display: flex;
    justify-content: center;
}

/* ============================================================= */
/* 피드 모달  */
/* ============================================================= */
.modal {
    margin-top: 80px !important;
}
.modal-content {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.modal-backgound {
    background-color: rgb(0, 0, 0);
}

.modal-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
    position: relative;
    color: white;
}

.modal-user-profile {
    width: 900px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.modal-user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 10px;
    background-color: white;
}

.modal-user-profile > span:nth-child(2) {
    margin-left: 20px;
    cursor: pointer;
}

.modal-user-profile > span:nth-child(2):hover {
    text-decoration: underline;
}

.modal-user-profile > span:nth-child(3) {
    font-size: 35px;
    font-weight: 900;
    margin-left: 73%;
    cursor: pointer;
}

.modal-close {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-weight: 500;
    font-size: 26px;
}

.modal-user-profile .modal-more-options {
    display: none;
    position: absolute;
    right: 430px;
    top: 60px;
    width: 160px;
    z-index: 50;
    overflow: hidden;
}

.modal-more-options > div {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    background-color: black;
    line-height: 30px;
}

.modal-more-options dl {
    margin: 15px 15px;
    font-size: 13px;
    line-height: 35px;
}

.modal-more-options dt {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 3px 0 0 6px;
    transition: all 0.25s;
}

.modal-more-options dt:hover {
    cursor: pointer;
    transition: all 0.25s;
    background-color: rgba(115, 115, 115, 0.4);
    border-radius: 10px;
}

.modal-more-options span {
    font-size: 20px;
}

.modal-more-options a {
    margin-left: 10px;
}

.modal-body {
    display: flex;
    height: 650px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-feed-body {
    width: 65%;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-feed-body img {
    width: 100%;
    margin: 0 auto;
    height: 430px;
    object-fit: fill;
}

.modal-feed-body .feed-tools {
    margin: 5px auto 0;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.modal-feed-body .feed-tools svg {
    margin-left: 10px;
}

.modal-feed-body .feed-tools .clickable-svg:nth-child(1) {
    cursor: pointer;
    z-index: 10;
}

.modal-feed-body .feed-tools .clickable-svg:nth-child(2) {
    margin-left: 20px;
    cursor: pointer;
    z-index: 10;
}

.modal-feed-body .feed-tools .clickable-svg:nth-child(3) {
    font-size: 25px;
    z-index: 10;
    margin-left: 80%;
    cursor: pointer;
}

.modal-feed-body .feed-text {
    width: 91%;
    margin: auto;
    color: rgb(179, 179, 179);
    font-size: 13px;
    line-height: 24px;
    word-wrap: break-word;
    margin-left: 20px;
}

.modal-feed-body .feed-text span:nth-child(3) {
    width: 100%;
    font-size: 15px;
    color: white;
}

.modal-feed-footer {
    width: 35%;
    padding-bottom: 20px;
}

.modal-feed-footer .reply-wrap {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-feed-footer .reply-middle {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    overflow-y: auto;
    height: 80vh;
}

.modal-feed-footer .reply-middle dl {
    margin: 0;
}

.modal-feed-footer .reply-middle dt {
    margin: auto;
    width: 90%;
    display: flex;
    height: 50px;
    padding: 2px 10px;
    align-items: center;
    transition: all 0.25s;
}

.modal-feed-footer .reply-middle dt:hover {
    background-color: rgba(115, 115, 115, 0.2);
    transition: all 0.25s;
    border-radius: 15px;
}

.modal-feed-footer .reply-middle img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

.modal-feed-footer .reply-list {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 14px;
    color: lightgray;
}

.modal-feed-footer .reply-list span:last-child {
    color: gray;
    font-size: 13px;
}

.modal-feed-footer .reply-bottom {
    width: 93%;
    padding-top: 6px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-feed-footer .reply-bottom input {
    margin-top: 10px;
    width: 85%;
    height: 33px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 10px;
    background-color: transparent;
    color: white;
}

.modal-feed-footer .reply-bottom input:focus {
    outline: 0;
}

.modal-feed-footer .reply-bottom button {
    margin-top: 10px;
    height: 33px;
    background-color: transparent;
    color: lightgray;
    border: 0;
}
.modal-toggle-button {
    cursor: pointer;
}
.clickable-svg .bi-heart-fill {
    color: red;
}
.line-div {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    height: 70px;
    width: 570px !important;
}
.line-div > span {
    display: block;
    margin-top: 15px;
    margin-left: 500px !important;
}


